.helios-info-section {
  border: 1px solid #f1f5f9;
  border-radius: 12px;
  background-color: #f3f7fb;
  padding: 8px 12px;

  .helios-logo-wrapper {
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 12px;
    border: 2px solid #FFF;
    background: #FF630B;
  }

  .helios-label {
    color: #1e293b;
  }

  .helios-detail-item {
    color: #64748b;

    .item-icon {
      color: #f43f5e;
      font-size: 16px;
    }
  }

  .vertical-divider {
    height: 14px;
    border-left: 1px solid #e2e8f0;
  }

  .more-details-link {
    color: #5200ff;
    font-size: 14.4px;
  }
}
